@media all and (min-width: 1280px) and (max-width: 1920px) {
  * {
    outline: 1px solid red; }
  div.minus {
    top: -20px !important; }
  h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
    padding-left: 16px;
    padding-top: 30px; }
  div.alertheight {
    height: 54px !important;
    background-color: #2f81a6;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    letter-spacing: -1.4px; }
  img.logo {
    float: left;
    display: inline-block !important;
    position: relative;
    height: 113px !important;
    width: auto;
    left: 3px;
    top: 7px; }
  .nav-position {
    float: right;
    width: 60%; }
  .login-menu {
    border-radius: 25px;
    width: 145px;
    height: 46px;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: #1F3564 !important;
    margin-right: 34px; }
  i.search-margin {
    margin-right: 34px !important; }
  input.search-size {
    width: 196px !important;
    height: 32px;
    border: 0;
    border-bottom: 1px solid #d4d4d4; }
  .btn-outline-secondary {
    border: 0; }
  .btn-outline-secondary:hover {
    background-color: white; }
  .login-menu-lock-icon {
    font-size: 12px !important;
    font-weight: 100; }
  .nav-link-style {
    font-family: serif !important;
    font-size: 22px !important;
    font-weight: 100; }
  .nav {
    height: 79px !important; }
  .nav-item {
    margin-left: 0%;
    margin-right: 3.20000%; }
  .nav-item-top {
    margin-left: 16px;
    margin-right: 0px; }
  a.nav-top-link {
    margin: 0px !important;
    padding: 0px !important;
    color: #777779 !important; }
  a.nav-link {
    color: #231F20 !important;
    height: 77px;
    border-bottom: 6px solid #ffffff;
    z-index: 666; }
  a.nav-link:hover {
    color: #2F81A6 !important;
    height: 77px;
    border-bottom: 6px solid #2F81A6;
    z-index: 666; }
  i.nav-link-icons {
    font-size: 26px; }
  i.hoverable:hover {
    font-size: 16px;
    font-family: sans-serif;
    width: 100px; }
  i.hoverable:hover::before {
    content: "LOCATIONS"; }
  nav.navheight {
    display: inline;
    width: 100%;
    padding-right: 30px !important; }
  div.block-nav {
    display: block; }
  div.second-nav {
    margin-top: 70px; }
  .mainsection {
    display: block;
    position: absolute;
    float: left;
    top: 148px;
    left: 0px;
    width: 100%;
    margin-top: 55px;
    height: 672px;
    background-image: url("./../img/Home.jpg"); }
  .subpersonal {
    float: none;
    overflow: visible;
    top: -26px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    width: auto;
    border-top: 1px solid #aaa;
    position: relative;
    background-color: rgba(235, 235, 235, 0.8);
    margin: 10px;
    z-index: 2; }
  .zeromargins {
    margin: 0;
    padding: 0 7px 0 7px; }
  .personal-sub {
    margin: 20;
    padding-left: 16px;
    list-style: none;
    font-size: 20px !important;
    font-style: normal;
    font-family: sans-serif; }
  .spacing-li {
    margin: 0 0 9px 0;
    padding: 0; }
    .spacing-li a {
      color: #222021 !important; }
  .subabout {
    float: left;
    overflow: visible;
    top: -25px;
    padding: 0;
    list-style: none;
    display: none;
    width: auto;
    border-top: 1px solid #aaa;
    position: relative;
    background-color: rgba(235, 235, 235, 0.8);
    padding: 0px 20px 20px 20px;
    z-index: 2; }
  .small-menu-row {
    height: 52px; }
  div#forpositionmenu {
    padding-left: 20px; }
  div.slogan {
    width: auto;
    margin-top: 256px; }
    div.slogan .h3-slogan {
      font-size: 53px;
      font-family: serif;
      letter-spacing: -4px;
      color: #1d3463; }
  div.form-main-login {
    float: right;
    margin-top: 64px;
    margin-right: 44px; }
    div.form-main-login form.main-login {
      padding: 58px 40px 40px 40px;
      height: 545px;
      width: 542px;
      background-color: rgba(29, 52, 99, 0.8); }
      div.form-main-login form.main-login h3 {
        color: white;
        font-weight: bolder; }
      div.form-main-login form.main-login label {
        color: white; }
      div.form-main-login form.main-login .login-menu {
        border-radius: 25px;
        width: 175px;
        height: 55px;
        padding: 16px;
        font-size: 16px;
        font-weight: bolder;
        font-family: sans-serif;
        background-color: #bdc949 !important;
        margin-right: 34px;
        color: #1d3463; }
      div.form-main-login form.main-login .login-menu-lock-icon {
        font-size: 12px !important;
        font-weight: 100; }
      div.form-main-login form.main-login a {
        color: white; }
      div.form-main-login form.main-login .drop-styled {
        width: 99%;
        margin-top: 4px;
        margin-bottom: 2px; }
      div.form-main-login form.main-login div, div.form-main-login form.main-login input, div.form-main-login form.main-login label {
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 0px; }
      div.form-main-login form.main-login .drop-styled {
        border-radius: 0px;
        background-color: white;
        border: none;
        color: black;
        font-size: 20px;
        margin: 0px;
        text-align: left;
        content: ""; }
        div.form-main-login form.main-login .drop-styled .arrow-down {
          min-width: 100%;
          width: auto !important;
          width: 100%;
          margin: 0 auto -142px;
          width: 60px;
          height: 40px;
          margin: 0 0 0 -30px;
          position: absolute;
          left: 57%;
          bottom: 0px;
          transform: scale(0.2); }
        div.form-main-login form.main-login .drop-styled .left {
          position: absolute;
          height: 10px;
          width: 80px;
          background: #2f81a6;
          -webkit-transform: rotate(240deg);
          top: 10px;
          left: 10px;
          -webkit-border-radius: 2px;
          -webkit-transform-origin: 5px 50%;
          -webkit-transform: rotate(225deg); }
        div.form-main-login form.main-login .drop-styled .right {
          position: absolute;
          height: 10px;
          width: 80px;
          background: #2f81a6;
          -webkit-transform: rotate(-60deg);
          top: 10px;
          left: 10px;
          -webkit-border-radius: 2px;
          -webkit-transform-origin: 5px 50%;
          -webkit-transform: rotate(-45deg); }
      div.form-main-login form.main-login .dropdown-item {
        color: black; }
      div.form-main-login form.main-login .topspaceado {
        padding-top: 10px;
        padding-left: 8px; }
      div.form-main-login form.main-login a.adolinks {
        text-decoration: underline;
        top: 6px;
        font-size: 13px; }
        div.form-main-login form.main-login a.adolinks :nth-child(2n) {
          margin-left: 22px; }
      div.form-main-login form.main-login .secoado {
        margin-left: 34px;
        text-decoration: underline; }
      div.form-main-login form.main-login .thdado {
        margin-left: 8px;
        text-decoration: underline; }
      div.form-main-login form.main-login a.btn-primary {
        border-color: black !important; }
      div.form-main-login form.main-login a.btn {
        margin-top: 0px;
        margin-left: 3px;
        margin-bottom: 12px; }
      div.form-main-login form.main-login .drop-styled {
        margin-top: 4px !important;
        margin-bottom: 2px !important; }
  section.second-section {
    display: block;
    position: inherit;
    top: 53rem;
    height: 500px;
    left: 0px;
    position: absolute !important;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 39px; }
    section.second-section .second-section-a {
      margin: 20px;
      padding: 40px;
      background-image: url("./../img/SectionTwo.jpg");
      height: 500px;
      width: auto; }
    section.second-section .second-section-b {
      margin: 20px;
      padding: 40px;
      background-image: url("./../img/SectionThree.jpg");
      height: 500px;
      width: auto; }
    section.second-section h3 {
      margin-top: 111px;
      font-size: 40px;
      font-family: serif; }
    section.second-section .link {
      margin-top: 43px; }
  section.void {
    height: 80rem;
    width: 99%; }
  section.third-section {
    height: 350px;
    width: 100%; }
    section.third-section .col {
      display: flex; }
    section.third-section .h5s16 {
      margin-top: 29px;
      font-size: 28px;
      font-weight: bolder; }
    section.third-section .s16 {
      padding: 0;
      margin: 0;
      font-size: 20px; }
    section.third-section div.col-rpadding10 {
      padding-left: 37px;
      padding-right: 0px; }
    section.third-section div.col-rpadding20 {
      padding-right: 49px; }
    section.third-section div.icon-article {
      display: flex;
      top: 74px;
      height: 200px;
      width: 100px;
      margin: 11px; }
      section.third-section div.icon-article img.icon-section-three {
        margin-top: 64px;
        margin-left: 15px;
        top: 0px;
        left: 0px;
        height: 74px;
        width: 74px; }
    section.third-section div.text-article {
      display: flex;
      margin: 20px;
      display: inline-block; }
  section.six-section {
    height: 390px;
    width: 100%; }
  .custom-article-button {
    width: 188px;
    height: 50px;
    background-color: #2F81A6;
    color: #FFFEFF;
    border-radius: 25px;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 12px;
    font-weight: bolder; }
  .four-section {
    height: 550px;
    width: 100%;
    background-image: url("./../img/sectionfour.png");
    background-size: contain;
    background-size: 100%;
    background-position-y: bottom 3px; }
    .four-section div.col {
      padding: 158px 416px 0px 416px; }
    .four-section h5 {
      color: white;
      font-size: 45px; }
    .four-section p {
      color: white;
      font-size: 33px; }
  .five-section {
    padding: 82px 174px 78px 174px; }
    .five-section .border-five {
      border: 2px solid #D3D3D3;
      border-radius: 3px;
      padding-bottom: 30px; }
    .five-section div.five {
      padding: 5% 5% 1% 5%; }
      .five-section div.five h5 {
        font-size: 40px;
        font-family: serif;
        color: #42A5C4; }
      .five-section div.five p {
        font-size: 20px;
        font-family: sans-serif;
        margin-bottom: 34px; }
    .five-section .topimagelink {
      max-width: 100%;
      height: auto; }
    .five-section .img-containerscale {
      overflow: hidden;
      height: 420px;
      width: auto; }
    .five-section .topimagelink:hover {
      animation: scaleme 6s infinite alternate; }
  @keyframes scaleme {
    0% {
      transform: scale(1); }
    100% {
      transform: scale(1.1); } }
  section.six-section {
    height: 700px;
    background-color: #EBEBEB; }
    section.six-section .six-slogan {
      margin: 11% 5% 0px 9%; }
      section.six-section .six-slogan h5 {
        font-size: 45px;
        font-family: serif; }
      section.six-section .six-slogan p {
        font-size: 20px;
        font-family: sans-serif; }
    section.six-section .zero-margins {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }
    section.six-section img.play-pre {
      margin: 5% 0% 0px 6%;
      width: 96%; }
    section.six-section img.button-play {
      float: left;
      position: absolute;
      top: 39%;
      left: 48%;
      height: 21%;
      width: auto;
      opacity: 0.3;
      filter: alpha(opacity=30); }
    section.six-section img.button-play:hover {
      float: left;
      position: absolute;
      top: 39%;
      left: 48%;
      height: 21%;
      width: auto;
      animation: playme 3s infinite alternate;
      cursor: pointer; }
  @keyframes playme {
    0% {
      opacity: 0.3;
      filter: alpha(opacity=30); }
    100% {
      opacity: 0.9;
      filter: alpha(opacity=90); } }
    section.six-section #playerone {
      display: grid;
      float: none;
      margin-top: 50px;
      margin: 5% 0% 0px 6%;
      width: 96%; }
  footer {
    overflow: hidden;
    height: 650px;
    background-color: #1F3564; }
    footer hr {
      background-color: #A5ADC0;
      margin: -6px 0px 39px 0px; }
    footer .footer-side-logo {
      left: auto;
      height: 500px;
      width: auto; }
    footer .spacerseventyfour {
      margin: 0px 0px 0px 83px; }
    footer .seventyfour {
      margin: 19px 9px 29px 8px;
      display: inline-block;
      background-color: #66CCF2;
      border-radius: 50%;
      height: 70px;
      width: 70px; }
    footer .sficon {
      color: #1F3564;
      margin: 27px 29px 29px 27px;
      transform: scale(2); }
    footer .align-left {
      float: right; }
    footer .align-offset {
      left: 20px; }
    footer .tel-footer {
      font-size: 42px;
      font-family: serif;
      color: white;
      width: 400px;
      padding-top: 24px; }
    footer h6 {
      color: white;
      font-size: 23px;
      font-family: sans-serif;
      font-weight: bolder;
      margin-top: 19px;
      margin-left: 39px; }
    footer ul {
      list-style-type: none;
      list-style: none; }
      footer ul li {
        margin: 10px 0px 0px 0px; }
        footer ul li a {
          color: white;
          font-size: 19px;
          font-family: sans-serif; }
    footer .logo-pri-white {
      width: 201px;
      height: auto;
      margin-top: 33px;
      margin-left: 115px; }
    footer .social-icons-container {
      margin: 52px 0px 0px 62px; }
    footer .twenty {
      display: inline-block;
      height: 40px;
      width: 40px; }
    footer .socialicons {
      color: #ffffff;
      transform: scale(1.5); }
    footer .below {
      color: #009DC6;
      font-size: 22px; } }
