$base-green-color:#2f913c;

*{
 // outline: 1px solid red;
// font-family: "Confortaa Bold";
}
div.minus{
  top: -20px!important;
}
// h1, h2, h3, h4{
//   font-size: 2em!important;
// }
h2{
  font-size: 30px;
  font-family:sans-serif;
  font-weight: 100;
  padding-left: 16px;
}
div.alertheight {
  height: 54px!important;
  background-color: #2f81a6;
  color:white;
  font-weight: bolder;
  font-size: 22px;
  text-align: center;
  letter-spacing: -1.4px;
}
img.logo{
  float: left;
  display: inline-block!important;
  position: relative;
  height: 113px !important;
  width: auto;
  left: 33px;
}
.nav-position {
  float: right;
  width: 60%;
}
.login-menu {
  border-radius: 25px;
  width: 145px;
  height: 46px;
  font-size: 16px;
  font-weight: bolder;
  font-family: sans-serif;
  background-color: #1F3564!important;
  margin-right: 34px;
}
i.search-margin{
  margin-right: 34px!important;
}
input.search-size{
  width: 196px!important;
  height: 32px;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
}
.btn-outline-secondary{
  border: 0;
}
.btn-outline-secondary:hover{
  background-color: white;
}
.login-menu-lock-icon{
  font-size: 12px!important;
  font-weight: 100;
}
.nav-link-style{
  font-family: serif!important;
  font-size: 22px!important;
  font-weight: 100;
}
.nav-item{
  margin-left: 0%;
  margin-right: 3.20000%;
}
.nav-item-top{
  margin-left: 16px;
  margin-right: 0px;
}
a.nav-top-link{
  margin: 0px!important;
  padding: 0px!important;
  color: #777779!important;
}
a.nav-link{
  color: #231F20!important;
  height: 80px;
  border-bottom: 6px solid #ffffff;
}
a.nav-link:hover{
  color: #2F81A6!important;
  height: 80px;
  border-bottom: 6px solid #2F81A6;
}
i.nav-link-icons{
    font-size: 26px;
}
i.hoverable:hover{
  font-size: 16px;
  font-family: sans-serif;
  width: 100px;
}
i.hoverable:hover::before{
  content: "LOCATIONS";
}
i.hoverable:hover::after{
}
nav.navheight{
  display: inline;
  width: 100%;
  padding-right: 30px!important;
}
div.block-nav{
  display: block;
}
div.second-nav{
  margin-top: 70px;
}
.mainsection{
display: block;
position: absolute;
float: left;
top:148px;
left:0px;
width: 100%;
margin-top: 55px;
height: 672px;
background-image: url('../img/Home.jpg');
}
.subpersonal{
  float: none;
  overflow: visible;
  top:55px;
  margin:0;
  padding:0;
  list-style:none;
  display:none;
  width:auto;
  border-top: 1px solid #aaa;
  position: relative;
  background-color: rgba(235,235,235,0.8);
  margin: 10px;
  z-index: 2;
}
// .subpersonal:hover{
//   top:55px;
//   margin:0;
//   padding:0;
//   list-style:none;
//   display:none;
//   width:auto;
//   border-top: 1px solid #aaa;
//   position: relative;
//   margin: 10px;
// }
.zeromargins{
  margin:0;
  padding:0 7px 0 7px;

  // background-color: #ebebeb;
}
.personal-sub{
margin: 20;
padding-left: 16px;
list-style:none;
font-size: 20px!important;
font-style: normal;
font-family: sans-serif;
}
.spacing-li{
  margin: 0 0 9px 0;
  padding: 0;
  a{
    color: #222021!important;
  }
}
.subabout{
  float: left;
  overflow: visible;
  top:55px;
  padding:0;
  list-style:none;
  display:none;
  width:auto;
  border-top: 1px solid #aaa;
  position: relative;
  background-color: rgba(235,235,235,0.8);
  padding: 55px 20px 20px 20px;
  z-index: 2;
}

div.slogan{
  width: auto;
  margin-top:256px;
  .h3-slogan{
    font-size: 53px;
    font-family: serif;
    letter-spacing: -4px;
    color: #1d3463;
  }
}
div.form-main-login{
  float: right;
  margin-top:64px;
  margin-right: 44px;
  form.main-login{
    h3{
      color:white;
      font-weight: bolder;
    }
    padding: 58px 40px 40px 40px;
    height: 545px;
    width: 542px;
    background-color: rgba(29,52,99,0.8);
    label{
      color: white;
    }
    .login-menu {
      border-radius: 25px;
      width: 175px;
      height: 55px;
      padding: 16px;
      font-size: 16px;
      font-weight: bolder;
      font-family: sans-serif;
      background-color: #bdc949!important;
      margin-right: 34px;
      color: rgb(29,52,99);
    }
    .login-menu-lock-icon{
      font-size: 12px!important;
      font-weight: 100;
    }
    a{
      color: white;
    }
    .drop-styled{
      width: 99%;
      margin-top: 4px;
      margin-bottom: 2px;
    }
    div, input, label{
      margin-top:3px;
      margin-bottom:3px;
      border-radius: 0px;
    }
    .drop-styled{
      border-radius: 0px;
      background-color: white;
      border: none;
      color:black;
      font-size: 20px;
      margin: 0px;
      text-align: left;
      content: "";
      .arrow-down{
        min-width: 100%;
        width: auto !important;
        width: 100%;
        margin: 0 auto -142px;

        width:60px;
        height:40px;
        margin:0 0 0 -30px;
        position:absolute;
        left:57%;
        bottom:0px;
        transform: scale(0.2);
      }
      .left{
        position:absolute;
        height:10px;
        width:80px;
        background:#2f81a6;
        -webkit-transform:rotate(240deg);
        top:10px;
        left:10px;
        -webkit-border-radius:2px;
        -webkit-transform-origin:5px 50%;
        -webkit-transform:rotate(225deg);
      }

      .right{
        position:absolute;
        height:10px;
        width:80px;
        background:#2f81a6;
        -webkit-transform:rotate(-60deg);
        top:10px;
        left:10px;
        -webkit-border-radius:2px;
        -webkit-transform-origin:5px 50%;
        -webkit-transform:rotate(-45deg);
      }
    }
    .dropdown-item{
      color: black;
    }
    .topspaceado{
      padding-top: 10px;
      padding-left: 8px;
    }
    a.adolinks{
      text-decoration: underline;
      top: 6px;
      font-size: 13px
      :nth-child(2n){
        margin-left: 22px;
      }
    }
    .secoado{
      margin-left: 34px;
      text-decoration: underline;
    }
    .thdado{
      margin-left: 8px;
      text-decoration: underline;
    }
    a.btn-primary{
      border-color: black!important;
    }
    a.btn{
      margin-top:0px;
      margin-left: 3px;
      margin-bottom:12px;
    }
    .drop-styled{
      margin-top: 4px!important;
      margin-bottom: 2px!important;
    }
  }
}
section.second-section{
display: block;
position: inherit;
top: 53rem;
height: 500px;
left: 0px;
position: absolute!important;
height: 500px;
width: 100%;
margin: auto;
padding: 39px;
  .second-section-a{
    margin: 20px;
    padding: 40px;
    background-image: url('./../img/SectionTwo.jpg');
    height: 500px;
    width: auto;
  }
  .second-section-b{
    margin: 20px;
    padding: 40px;
    background-image: url('./../img/SectionThree.jpg');
    height: 500px;
    width: auto;
  }
  h3{
    margin-top: 111px;
    // margin-left: 20px;
    font-size: 40px;
    font-family: serif;
  }
  .link{
    margin-top: 43px;
  }
}
section.void{
  height: 82rem;
  width: 99%;
}
section.third-section{
  height: 350px;
  width: 100%;
  .col{
  display: flex;
  }
  .h5s16{
    margin-top:29px;
    font-size: 28px;
    font-weight: bolder;
  }
  .s16{
    padding:0;
    margin: 0;
    font-size: 20px;
  }
    div.col-rpadding10{
    padding-left: 37px;
    padding-right: 0px;
    }
    div.col-rpadding20{
    padding-right: 49px;
    }
    div.icon-article{
    display: flex;
    top: 74px;
    height: 200px;
    width: 100px;
    margin: 11px;
    img.icon-section-three{
      margin-top: 64px;
      margin-left: 15px;
      top:0px;
      left:0px;
      height: 74px;
      width: 74px;
    }
  }
  div.text-article{
    display: flex;
    margin: 20px;
    display: inline-block;
  }
}
section.six-section{
  height: 390px;
  width: 100%;
}
.custom-article-button{
  width: 188px;
  height: 50px;
  background-color: #2F81A6;
  color: #FFFEFF;
  border-radius: 25px;
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 12px;
  font-weight: bolder;
}
.four-section{
  height: 550px;
  width: 100%;
  background-image: url('./../img/sectionfour.png');
  background-size: contain;
  background-size: 100%;
  background-position-y: bottom 3px;
  div.col{
    padding:158px 416px 0px 416px;
  }
  h5{
    color: white;
    font-size: 45px;
  }
  p{
    color: white;
    font-size: 33px;
  }
}
.five-section{
  padding:82px 174px 78px 174px;
  div.five{
    h5{
      font-size: 40px;
      font-family: serif;
      color: #42A5C4;
    }
    p{
      font-size: 20px;
      font-family: sans-serif;
      margin-bottom: 34px;
    }
    padding:38px 57px 9px 34px;
  }
  .topimagelink{
    height: 420px;
    width:auto;
  }
  .img-containerscale{
    overflow: hidden;
    height: 420px;
    width:auto;
  }
  .topimagelink:hover{
    animation: scaleme 6s infinite alternate;
  }
  @keyframes scaleme {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
}
